.heroSection {
    position: relative;
    height: 600px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 0;
    padding: 80px 40px 0px;
    gap: 40px;
}

.heroSection::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url(/headerImg/main-background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    transform: scaleX(-1);
    z-index: -1;
}